<td>
    <a href="{{ path(record ~ '_show', {'id': record.id}) }}" class="btn btn-primary btn-sm">
        Show
    </a>
    <a href="{{ path(record ~ '_edit', {'id': record.id}) }}" class="btn btn-primary btn-sm">
        Edit
    </a>
</td>