a.btn-dark, a.btn-dark:hover {
    color: #FFF !important;
}

.navbar {
    border-radius: 0px !important;
    font-size: 20px !important;
    position: sticky !important;
}

.navbar-dark .navbar-nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.navbar-brand {
    padding-right: 0px !important;
    padding-left: 0px !important;
    font-size: 20px !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 15px !important;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}