{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block containerTitle %}
    <a class="btn btn-dark mr-2" href="{{ path('tag_index') }}">Back</a> Create New Product
{% endblock %}

{% block body %}
    {{ include('product/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        var $collectionHolder;

        var $addImageButton = $('<button type="button" class="add_tag_link btn btn-info">Add a Image</button>');
        var $newLinkLi = $('<li></li>').append($addImageButton);

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            newForm = newForm + '<button class="btn btn-danger removeImage mb-4">Delete</button>'
            
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            $('.removeImage').on('click', function () {
                $(this).parents('li').remove();
            })
        }

        $(document).ready(function() {
            $('select').select2({width: 'resolve'});

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.images');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $addImageButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            addTagForm($collectionHolder, $newLinkLi);
        });
    </script>
{% endblock %}